/* The Style Sheet */
@import url("https://fonts.googleapis.com/css?family=Poppins:900i");

:root {
  --maintheme: linear-gradient(to bottom right, #d9a0ff, #81d8ff, #94f1ed);
  --maincolor: #373e98;
  --tracolor: #f6f1f4;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: #282c2d;
  --grayishBlue: #000000;
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

html {
  background: #e6e6fa;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #fed9ca;
  border-radius: 20px;
  border: 1px #fed9ca white;
}

/* The Navigation Bar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #fed9ca white;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

nav {
  bottom: 0;
  right: 0.2px;
  left: 0.2px;
  position: fixed;
  min-width: 350px;
  min-height: 80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 10px;
  padding: 0 15px;
  background: #f8f8ff;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.12),
    0 22.3px 17.9px rgba(0, 0, 0, 0.08), 0 100px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  z-index: 1000;
}
nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 20px;
}
nav ul li a i {
  color: var(--maincolor);
  width: 100%;
  height: 100%;
  opacity: 0.4;
  transition: opacity 100ms ease;
  pointer-events: none;
}
nav ul li a.active i {
  opacity: 1;
}
nav .tubelight {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translateX(-50%);
  width: 45px;
  height: 5px;
  border-radius: 5px;
  background: var(--maincolor);
  transition: left 400ms ease;
  z-index: 10;
}
nav .tubelight .light-ray {
  position: absolute;
  left: -30%;
  top: 5px;
  width: 160%;
  height: 80px;
  clip-path: polygon(5% 100%, 25% 0px, 75% 0px, 95% 100%);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) -50%,
    rgba(255, 255, 255, 0) 90%
  );
  pointer-events: none;
}

/* home Page Starts */

.welcome {
  padding: 70px;
  padding-top: 20px;
  padding-bottom: 80px;
  background-image: var(--maintheme);
  background-position: center;
  font-family: Sans-Serif;
  font-size: 20px;
}

.welcome img {
  width: 100%;
  border-radius: 130px;
  margin-top: 0.7rem;
}

.welcome h1 {
  text-align: center;
  font-family: Kusanagi;
  color: #ffffff;
  font-size: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}
.welcome p {
  font-family: poppins;
  font-size: 1.3rem;
  text-align: center;
}



.lbutton {
  background: black;
  text-decoration: none;
  margin: 0;
  border-radius: 26px;
  color: #fff;
  font-size: 1.1rem;
  outline: none;
  border: none;
  padding: 0.9rem 5.0rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lbutton:hover {
  color: var(--maincolor);
}

/* About Me Section Starts */
.about-container {
  border-radius: 15px;
  margin: 4%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom right, #abd699, #75c9b7 );
  gap: 20px;
}

.about-head {
  background-color: #ffe26a;
  border-radius: 7px;
  font-family: poppins;
  padding: 3%;
  text-align: center;
}

.about-details {
  padding-bottom: 7%;
  font-size: 1rem;
  padding: 5%;
}

.about-container img {
  width: 100%;
  border-radius: 7px;
  margin-top: 7%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

/* Page 2 */
/* skills section starts */
.skills {
  min-height: 90vh;
  background-image: var(--maintheme);
}
.skills h2 {
  color: #fff;
}
.skills .heading span {
  color: rgb(255, 230, 0);
}
.skills .skcontainer {
  background: rgba(0, 0, 22, 0.4);
  color: #fff;
  padding: 2rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
.skills .skcontainer .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  gap: 1.8rem;
}
.skills .skcontainer .skbar {
  margin-bottom: 15px;
  padding: 7px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: #000000;
  transition: 0.2s;
}
.skills .skcontainer .skbar:hover {
  box-shadow: 0 8px 10px #000000 !important;
  background-color: #25272799 !important;
}
.skills .skcontainer .skbar .skinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.skills .skcontainer .skbar .skinfo i {
  font-size: 4rem;
}
.skills .skcontainer .skbar .skinfo p {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Poppins";
  margin-left: 0.5rem;
}
/* skills media queries starts*/
@media screen and (max-width: 600px) {
  .skills .skcontainer {
    padding: 0;
    margin: 0;
  }
  .skills .skcontainer .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .skcontainer {
    margin-top: 5px;
    width: 100%;
  }
}
/* skills media queries ends*/
/* skills percent section ends */
::selection {
  color: #fff;
  background: #6665ee;
}
.skill-bars {
  padding: 25px 30px;
  width: 100%;
  background: var(--maincolor);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 4%;
}
.skill-bars .bar {
  margin: 20px 0;
}
.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
  margin-bottom: 5px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #000000;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.html span {
  width: 90%;
}
.bar .progress-line.css span {
  width: 60%;
}
.bar .progress-line.javascript span {
  width: 15%;
}
.bar .progress-line.aosp span {
  width: 70%;
}
.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "60%";
}
.progress-line.javascript span::after {
  content: "15%";
}
.progress-line.aosp span::after {
  content: "70%";
}

/* Page 3 */

.card-container {
  border-radius: 30px;
  margin: 4%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background: #ffffff;
}

.card-top {
  padding-bottom: 10px;
}

.card-top img {
  margin-top: 1.9rem;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.card-desp {
  margin-bottom: 2.1rem;
  padding: 2rem;
  background: #ecf3f9;
  border-radius: 7px;
}

.card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#aidgit {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 12px 106px;
  border-radius: 6px;
  background: #000000;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#aidlink {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 12px 116px;
  border-radius: 6px;
  background: #000000;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 5%;
}

.card-title-tag {
  background: #eaf4fc;
  font-family: "poppins";
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 9px;
  text-align: center;
}

summary {
  text-align: center;
  background: #eaf4fc;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 15px;
}

summary:hover {
  background: #ecf3f9;
}

/* Page 4 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

.page4r {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  margin: 0;
}

/* Page 5 */

.page5r {
  min-height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ccontainer {
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ccontainer .ccontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ccontainer .ccontent .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.ccontent .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.ccontent .left-side .details {
  margin: 14px;
  text-align: center;
}
.ccontent .left-side .details i {
  font-size: 30px;
  color: var(--maincolor);
  margin-bottom: 10px;
}
.ccontent .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.ccontent .left-side .details .text-one,
.ccontent .left-side .details .text-two {
  font-size: 14px;
  color: black;
}
.ccontainer .ccontent .right-side {
  width: 75%;
  margin-left: 75px;
}
.ccontent .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: var(--maincolor);
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: var(--tracolor);
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
form p {
  margin-top: 12px;
  margin-left: 27%;
  font-size: 1.1rem;
}

.right-side .submit {
  display: inline-block;
  margin: 12px 0;
}
.right-side .submit input[type="submit"] {
  color: #fff;
  width: 100%;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 0.7rem 5.4rem;
  border-radius: 6px;
  background: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}
.submit input[type="submit"]:hover {
  color: var(--maincolor);
}

@media (max-width: 950px) {
  .ccontainer {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .ccontainer .ccontent .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .ccontainer {
    margin: 40px 0;
    height: 100%;
  }
  .ccontainer .ccontent {
    flex-direction: column-reverse;
  }
  .ccontainer .ccontent .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .ccontainer .ccontent .left-side::before {
    display: none;
  }
  .ccontainer .ccontent .right-side {
    width: 100%;
    margin-left: 0;
  }
}

/* header Section In Every Page */

.topic-header2 {
  font-size: 1.9rem;
  text-align: center;
  padding: 6%;
  height: 13vh;
  font-family: "Montserrat", sans-serif;
}

.topic-header3 {
  font-size: 1.9rem;
  text-align: center;
  padding: 6%;
  height: 10vh;
  font-family: "Montserrat", sans-serif;
}

.topic-header4 {
  font-size: 1.9rem;
  text-align: center;
  padding: 6%;
  height: 10vh;
  font-family: "Montserrat", sans-serif;
}

.topic-header5 {
  font-size: 1.9rem;
  text-align: center;
  padding: 6%;
  height: 7vh;
  font-family: "Montserrat", sans-serif;
}

/* Footer Section  */

.footer {
  padding-block: 1rem;
}

.footer__container {
  max-width: 116rem;
  margin: auto;
  padding: 0 1.5rem;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 2rem;
}

.footer__title {
  font-size: 1.8rem;
  color: var(--maincolor);
  font-weight: 500;
  margin-bottom: 2rem;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__list-item {
  list-style: none;
}

.footer__list-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.25s;
}

.footer__list-link:hover {
  color: #ff2fff;
}

.company__info {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 5rem;
}

.company__logo {
  color: var(--maincolor);
}

.company__info ul {
  flex-direction: row;
}

.copyright {
  margin-top: auto;
}

@media screen and (min-width: 40em) {
  .company__info {
    grid-column: span 2;
  }
}
